.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	place-content: center;
	border: 8px solid var(--main-orange);
	border-radius: 20px;
	width: 60%;
	color: #fff;
}

.image {
	width: 100%;
	max-width: 300px;
}
